.main-varitas{
    .flex-container {
        @include flex(center, center);
        display: flex;
        // text-align: center;
        // justify-content: center;
        background-color: #0b110d;
        .first-item {
            img {
              width: 100%;
              height: 100%;
            }
        }
      }

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;

.product {
    text-align: center;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 1em;
}
}
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .banner {
        margin-right: 0;
        margin-bottom: 20px;
    }

    section {
        grid-template-columns: 1fr;
    }
}
}