@media only screen and (max-width: 576px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .banner {
    margin-right: 0;
    margin-bottom: 20px;
  }

  section {
    grid-template-columns: 1fr;
  }
}
